* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #111;
  padding: 24px 32px;
  width: 230px;
  transition: all 0.5s ease;
  z-index: 2500;
  display: flex;
  align-items: center;
}

.hiddenNav {
  padding: 10px;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1506;
  background-color: #111;
  color: white;
}

.hiddenNav img {
  cursor: pointer;
}

.hiddenNav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleSidebar.sidebar {
  left: 0;
  display: block;
}

.sidebar li {
  position: relative;
  list-style: none;
}

.sidebar a {
  line-height: 3rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.sidebar a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffb03a;
  transform-origin: bottom right;
  transition: all 0.5s ease;
}

.sidebar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sidebar-footer {
  position: absolute;
  color: #888888;
  bottom: 3%;
  font-weight: 300;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

/* Home */

.main-img-wrapper {
  position: relative;
}
.main-img-content {
  animation: page-load 300ms ease-in 600ms;
  transform: translate(-20px);
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes page-load {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.main-img-text img {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}

.main-img-text::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.main-img-content {
  color: white;
  z-index: 1500;
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 3.33rem;
}

.main-img-text h2 {
  font-family: "Roboto", sans-serif;
}

.main-img-job-title {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  color: #d4d4d4;
  margin-top: 1rem;
  padding: 10px;
  font-size: 1.77rem;
  border-radius: 2px;
}

.main-img-text a {
  background: transparent;
  border: 3px solid #ffb03a;
  color: #ffb03a;
  text-transform: uppercase;
  padding: 12px 48px;
  text-align: center;
  font-size: 1rem;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  cursor: pointer;
  transition: all linear 0.3s;
  text-decoration: none;
}

.main-img-text a:hover {
  background: #fff;
  border-color: #fff;
  color: #333;
  text-decoration: none;
}

/* About */

.about-me-wrapper h2 {
  font-size: 2.2rem;
  border-bottom: 3px solid #ffb03a;
  padding: 6px 0px;
  width: fit-content;
}

.wrapper {
  transition: all 0.5s ease;
  width: calc(100% - 230px);
  margin-left: auto;
}

.about-me-wrapper {
  min-height: 100vh;
  max-width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-wrapper-1 {
  display: flex;
  margin-top: 2.5rem;
  height: 70vh;
}

.avatar-img {
  border: 3px solid #ffb03a;
  object-fit: cover;
  width: 50%;
}

.about-me-info {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
}

.about-me-info p {
  font-weight: 600;
  font-size: 1.5rem;
  /* text-transform: uppercase; */
  margin-bottom: 2rem;
}

.about-me-info img {
  vertical-align: middle;
  cursor: pointer;
}

.about-me-info span {
  font-weight: 300;
  font-size: 1.1rem;
  text-transform: none;
}

.download-btn {
  margin: 15px 0px;
  display: block;
  width: 50%;
  padding: 15px 0px;
  color: #fff;
  background: #ffb03a;
  border: 3px solid #ffb03a;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  transition: all 0.5s ease;
  border-radius: 2px;
  outline: none;
  font-weight: 600;
  text-decoration: none;
}

.download-btn:hover {
  background: #fff;
  border-color: #fff;
  color: #333;
}

.about-me-pitch {
  width: 50%;
  margin: 1.5rem 0 1.5rem 0;
  line-height: 1.5;
}

.about-me-pitch h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0 1rem 0;
}

.about-me-pitch h4 {
  font-size: 1.5rem;
  color: #ffb03a;
  letter-spacing: 0.1rem;
}

/* Skills */

.skills-wrapper {
  min-height: 100vh;
  width: 100%;
  max-width: 80%;
  margin: auto;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grey-section {
  background-color: #f7f7f7;
}

.skills-wrapper h2 {
  font-size: 2.2rem;
  border-bottom: 3px solid #ffb03a;
  padding: 6px 0px;
  width: fit-content;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  padding-top: 2rem;
}

.skills-wrapper p {
  margin-top: 2rem;
}

.skills-slideshow {
  border-top: 1px solid #e5e7f2;
  border-bottom: 1px solid #e5e7f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  overflow: hidden;
  width: 75%;
  margin-top: 2rem;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-400%);
  }
}

.skills-slideshow img {
  animation: move 10s linear infinite;
  flex: 0 0 auto;
  object-fit: cover;
  margin: 25px;
  overflow: hidden;
  width: 100px;
}

.skills-desc {
  max-width: 75%;
}
@media (max-width: 1200px) {
  .skills-desc {
    max-width: none;
  }
}

.cta-btn {
  width: fit-content;
  margin-top: 2rem;
  padding: 15px 31px;
  display: block;
  border-radius: 2em;
  color: #fff;
  background: #ffb03a;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  transition: all 0.5s ease;
  outline: none;
  font-weight: 600;
  transition: all linear 0.3s;
  text-decoration: none;
}

.cta-btn:hover {
  background: #ffba3a;
}

/* Projects */

.projects-wrapper {
  min-height: 100vh;
  width: 100%;
  max-width: 80%;
  margin: auto;
  margin-bottom: 5rem;
}

.projects-wrapper h2 {
  font-size: 2.2rem;
  border-bottom: 3px solid #ffb03a;
  padding: 6px 0px;
  width: fit-content;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  padding-top: 2rem;
}

.projects-container {
  display: flex;
  margin-top: 2rem;
}

.projects-container > div {
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-right: 3%;
  text-align: center;
}

.projects-container img {
  width: 100%;
  /* object-fit: contain; */
  /* max-height: 25rem; */
}

.projects-container h3 {
  letter-spacing: 0.1rem;
  text-underline-offset: 0.4rem;
  text-decoration: underline;
}

.projects-container p {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #e5e7f2;
}

.git-link {
  width: 40px !important;
  cursor: pointer;
}
.git-link:hover {
  filter: invert(76%) sepia(53%) saturate(1564%) hue-rotate(330deg)
    brightness(106%) contrast(101%);
}

.demo-link {
  text-decoration: none;
  background-color: #ffb03a;
  color: white;
  padding: 11px 16px;
  border-radius: 2em;
  border: none;
  min-width: 125px;
  transition: all linear 0.3s;
}
.demo-link:hover {
  background-color: black;
}
.more-info-link {
  text-decoration: none;
  background-color: #ffb03a;
  color: white;
  padding: 11px 16px;
  border-radius: 2em;
  border: none;
  min-width: 125px;
  transition: all linear 0.3s;
  cursor: pointer;
  background-color: black;
  transition: all linear 0.3s;
}
.more-info-link:hover {
  background-color: #ffb03a;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.project-links-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  max-height: 3rem;
}

.project-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-tech {
  position: absolute;
  top: 30%;
  left: -20px;
}

.project-tech-1 {
  width: 34px !important;
  position: absolute;
  top: 40%;
  left: -17px;
}

.project-tech-2 {
  width: 40px !important;
  position: absolute;
  top: 50%;
  left: -20px;
}

.project-tech-3 {
  width: 50px !important;
  position: absolute;
  top: 60%;
  left: -25px;
}

.project-tech-4 {
  position: absolute;
  top: 70%;
  left: -15px;
}

.modal-overlay,
.modal-overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
}

.project-info {
  width: 70%;
  font-size: 14px;
}
.project-info p,
.project-info h3 {
  margin-top: 0.5rem;
}
.project-info h1 {
  border-bottom: 3px solid #ffb03a;
  width: fit-content;
  letter-spacing: 0.1rem;
}

.modal-container {
  background: white;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container-1 {
  width: 75%;
  display: flex;
  height: 50%;
}

.close-btn,
.close-btn-2 {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: black;
  cursor: pointer;
  transition: all linear 0.3s;
  font-size: 3rem;
}

.open-modal {
  visibility: visible;
  z-index: 2700;
}
.slideshow-container {
  width: 30%;
  width: 100%;
}
.dot,
.dot-1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.text {
  text-align: center;
}

.mySlides img {
  object-fit: contain;
  max-height: 340px;
  width: 100%;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #ffb03a;
}
.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.activeDot,
.dot:hover {
  background-color: #ffb03a;
}
.active a {
  color: #ffb03a;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@media (max-width: 1200px) {
  .modal-container-1 {
    display: block;
    width: 90%;
    height: 90%;
  }
  .mySlides img {
    object-fit: contain;
    max-height: 240px;
    width: 100%;
  }
  .close-btn {
    top: 0;
    right: 1rem;
  }
  .project-info {
    margin: auto;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Contact */
.contact-wrapper {
  width: 100%;
  max-width: 80%;
  margin: auto;
}

.contact-wrapper h2 {
  font-size: 2.2rem;
  border-bottom: 3px solid #ffb03a;
  padding: 2px 0px;
  width: fit-content;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  padding-top: 2rem;
}

.contact-wrapper p {
  margin-top: 0.5rem;
}

.contact-wrapper h3 {
  margin-top: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-form input {
  width: 100%;
  margin-bottom: 16px;
  padding: 15px;
  border: 2px solid #d4d4d4;
  border-radius: 2px;
  transition: all 0.5s ease;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid #ffb03a;
}

.contact-form textarea {
  width: 100%;
  min-height: 190px;
  resize: none;
  padding: 15px;
  border: 2px solid #d4d4d4;
  border-radius: 2px;
  outline: none;
  transition: all 0.5s ease;
}

.contact-form button {
  float: right !important;
  text-transform: uppercase;
  background: #ffb03a;
  font-size: 1rem;
  color: #fff;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  line-height: 48px;
  font-weight: bold;
  margin-left: auto;
  margin-top: 2rem;
  cursor: pointer;
  width: 30%;
}

.contact-form button:hover {
  background-color: #ffba3a;
}

.contact-form-container {
  display: flex;
  margin-top: 2rem;
}

.conact-form-icon {
  width: 40%;
}

.contact-email-icon {
  display: flex;
}

.contact-email-icon div {
  padding-bottom: 25px;
  margin-left: 1rem;
}

.social-data img {
  margin-top: 1rem;
}

.social-data img:hover {
  filter: invert(25%) sepia(36%) saturate(4712%) hue-rotate(181deg)
    brightness(103%) contrast(101%);
}

.grey-section-1 {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  min-height: 100vh;
  position: relative;
}

.active-link.links {
  color: #ffb03a;
}

.sql-icon {
  width: 30px;
  height: 30px;
  background-color: #157efb;
  display: inline-block;
  color: white;
  border-radius: 50%;
  /* font-weight: 600; */
  font-size: 0.7rem;
  line-height: 30px;
}
.git-social {
  filter: invert(0%) sepia(0%) saturate(8%) hue-rotate(145deg) brightness(94%)
    contrast(102%);
}
.email-sent {
  text-decoration: none;
  position: absolute;
  bottom: 1%;
  right: 1%;
  background-color: #ffb03a;
  color: white;
  padding: 11px 16px;
  border-radius: 2em;
  border: none;
  min-width: 125px;
}
@media (max-width: 1200px) {
  .sidebar {
    left: -230px;
  }

  .main-img-wrapper {
    height: auto;
  }

  .main-img-text img {
    min-height: 400px;
    height: auto;
  }

  .hiddenNav {
    display: block;
  }

  .main-img-content {
    font-size: 100%;
  }

  .main-img-text a {
    position: absolute;
  }

  .hire-me-btn {
    margin-top: 0.4rem;
  }

  .wrapper {
    width: auto;
    margin: auto;
  }

  .about-me-wrapper-1 {
    display: block;
    height: 100%;
  }

  .about-me-info {
    margin: auto;
    line-height: 2.5rem;
  }

  .about-me-pitch,
  .contact-form {
    width: 100%;
  }

  .avatar-img,
  .download-btn {
    width: 100%;
  }

  .projects-container {
    display: block;
  }

  .projects-container > div {
    width: 100%;
    margin-top: 2rem;
  }

  .contact-form-container {
    display: block;
  }
}
